.card_wrapper {
}

.card_titleBox {
  padding: 0px 5px;
  margin-bottom: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #ed6789;
}

.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
  background: #ffffff;
  border-radius: 16px;
  border: initial;
  margin-bottom: 20px;
}

.card_body {
  padding: 32px;
}
