.block_container {
  display: flex;
  flex-direction: column;
  column-gap: 8px;
  row-gap: 8px;
  margin-bottom: 10px;
  width: 100%;
}

.lable_Box {
  margin: 0px;
}

.lable_style {
  color: #7c7c7c;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.inputBox {
  /* border: 1px solid gray; */
}

.inputDesign {
  font-size: 14px;
  width: 100%;
  height: auto;
  min-height: 20px;
  color: #4e4e4e;
  box-shadow: initial !important;
  background-color: #ffffff;
  border-color: #dddddd;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out;
  outline: none;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 10px;
  outline: none;
}

.input_Padding {
  padding: 6px 12px;
}

.readOnlyInput {
  background-color: #dddddd80;
}

.editableInput {
  background-color: #ffffff;
}
