/* RadioInput.module.css */

/* Styles for the radio container */

.inlineRadio_container {
  display: flex;
}

.inlineradioTitleGap {
  column-gap: 20px;
  row-gap: 20px;
  text-transform: capitalize;
}

.radio_title {
  text-transform: capitalize;
}

.radio_btn_textGap {
  margin: 0px 20px;
}

.radio_box {
  display: flex;
  row-gap: 10px;
}

/* Styles for individual radio option */
.radioOption {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.inline_radioOptionBox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

/* Styles for the outer circle */
.outerCircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #969faf; /* Default color */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease-in-out;
}

/* Styles for the inner dot */
.innerDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

/* Styles for the selected inner dot */
.innerDot.selected {
  background-color: var(--bs-primary); /* Selected color */
}

/* Styles for the selected outer circle */
.outerCircle.selected {
  border-color: var(--bs-primary);
  width: 20px;
  height: 20px;
  padding: 0px;
}

/* in a row */
.rowRadio_container {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
}

.title_rowGap {
  row-gap: 20px;
  column-gap: 20px;
}

.row_radioOptionBox {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  cursor: pointer;
}
