.main_container {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  height: 100vh;
}

.sideBar_container {
  width: 20%;
  border: 1px solid gray;
}

.chip_wrapperContainer {
  border: 1px solid red;
  margin-bottom: 20px;
}

.card_container {
  border: 1px solid black;
  flex-grow: 1;
}

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 50px;
  padding: 50px;
}
