.selectButton {
  appearance: none;
  padding: 3px;
  font-size: 16px;
  border: var(--tb-fillter-primary-border);
  /* border-radius: 3px; */
  width: 100px;
  background-color: white;
  color: #333;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.selectButton:focus {
  outline: none;
  border-color: var(--tb-fillter-primary-focus-border-color);
  box-shadow: var(--tb-fillter-primary-focus-box-shadow);
}

.options_style {
  background-color: white;
  color: #333;
  border-radius: 0px;
}
