.ProductsFeatureSection_main_container {
  padding-top: 50px;
}

.section_header {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  text-transform: capitalize;
}

.navidation_arrowBox {
  display: flex;
}

.navidation_arrowBox span {
  padding: 10px 10px 0px 10px;
  background-color: #007bff;
  color: #fff;
  clip-path: polygon(22% 42%, 94% 40%, 75% 100%, 0% 100%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PopulaerCategoriesSection_cardContainer {
  padding: 20px 5px;
  display: flex;
  flex-wrap: wrap;
}

.card_container {
  padding: 20px 5px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
}
