.main_container {
  width: 100%;
  min-height: 900px;
  padding: 0px;
}

.inner_container {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.aside_Drawer {
  overflow: hidden;
  position: fixed;
  width: 15%;
  left: 0px; /* calculation */
  height: 100%;
  background-color: #fff;
  z-index: 10;
  /* opacity: 0.8; */
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.close_aside_Drawer {
  overflow: hidden;
  position: fixed;
  width: 5%;
  left: 0%; /* calculation */
  height: 100%;
  background-color: #fff;
  z-index: 10;
  /* opacity: 0.8; */
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.aside_Drawer_toogleBox {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
  font-size: 18px;
  cursor: pointer;
}

.option_wraper {
  height: 100%;
  padding: 15px;
}

.close_aside_Drawer_toogleBox {
  width: 100%;
  height: 50px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.content_side {
  border: var(--Zero-border);
  position: relative;
  left: 12%; /* calculation */
  width: 88%;
  min-height: 800px;
  background-color: #f4f4f5;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.close_content_side {
  border: var(--Zero-border);
  position: relative;
  left: 2%; /* calculation */
  width: 98%;
  min-height: 800px;
  background-color: #f4f4f5;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.navBar_Container {
  width: 88%;
  background-color: antiquewhite;
  height: 50px;
  position: fixed;
  top: 0px;
  display: flex;
}

.close_navBar_Container {
  width: 98%;
  background-color: antiquewhite;
  height: 50px;
  position: fixed;
  top: 0px;
  display: flex;
}

.navToogle_Box {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3%;
  margin-right: 1.5%;
}

.dynimic_content_Container {
  margin-top: 50px;
  border: 1px solid green;
  height: auto;
  padding-left: 5%;
  padding-top: 1%;
  background-color: #f4f4f5;
}

.close_dynimic_content_Container {
}

@media screen and (max-width: 992px) {
  .aside_Drawer {
    position: fixed;
    width: 15%;
    left: 0px; /* calculation */
    height: 100%;
    background-color: gray;
    z-index: 10;
    opacity: 0.8;
  }

  .close_aside_Drawer {
    position: fixed;
    width: 15%;
    left: -15%; /* calculation */
    height: 100%;
    background-color: gray;
    z-index: 10;
    opacity: 0.8;
  }

  .content_side {
    border: var(--Zero-border);
    position: relative;
    left: 0%; /* calculation */
    width: 100%;
    min-height: 800px;
    background-color: gainsboro;
  }

  .close_content_side {
    border: var(--Zero-border);
    position: relative;
    left: 0%; /* calculation */
    width: 100%;
    min-height: 800px;
    background-color: gainsboro;
  }

  .navBar_Container {
    width: 100%;
    background-color: antiquewhite;
    height: 50px;
    position: fixed;
    top: 0px;
    display: flex;
    padding-left: 10px;
  }

  .close_navBar_Container {
    width: 100%;
    background-color: antiquewhite;
    height: 50px;
    position: fixed;
    top: 0px;
    display: flex;
    padding-left: 10px;
  }
}

@media screen and (max-width: 650px) {
}
