.form_heading_Details {
  font-family: var(--bs-font-family);
  margin-bottom: 20px;
  text-align: center;
}

.form_heading {
  font-family: var(--bs-font-family);
  font-weight: 400;
  margin-bottom: 12px;
  font-size: 24px;
  color: #0f172a;
}

.formDescreption {
  color: #64748b;
}

.btnBox {
  margin-bottom: 20px;
}

.forgote_Password {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.singup_linkBox {
  display: flex;
  justify-content: center;
}
