.Carosole_mainContainer {
  width: 100%;
  height: 100%;
  background-image: url("../../../../public/Home-page-hero-banners/Home-page-hero-slide-1.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}

.carosole_leftSection,
.carosole_RightSection {
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .Carosole_mainContainer {
    background-size: cover;
    background-position: right;
    padding: 10px;
  }

  .carosole_leftSection h2 {
    font-size: 12px;
  }

  .carosole_leftSection p {
    font-size: 10px;
  }
}

/* Mobile Screen View */
@media screen and (max-width: 650px) {
  .Carosole_mainContainer {
    background-size: cover;
  }
}
