/* ToggleSwitch.css */

.toggle_switch {
  width: 40px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;

  background-color: #3ddc97;
}

.toggle_switchActive {
  width: 40px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  background-color: #ff495c;
}

.round_button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0px;
  transition: transform 0.3s, background-color 0.3s;
}

.on .round_button {
  transform: translateX(20px);
  background-color: lightblue;
}

.off .round_button {
  transform: translateX(2px);
  background-color: #fff;
}
