@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");

html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --ts-primary: #ed6789;
  --ts-gray: #7c7c7c;
  --ts-gap-20: 20px;
  --ts-gap-10: 10px;
  --ts-radio-circle-size-20: 20px;
  --ts-radio-dot-size-10: 10px;
  --ts-border-radius-50: 50%;
  --ts-text-color: #212529;
  --ts-1px-border: 1px solid #ced4da;
  --ts-10-border-radius: 10px;
  --ts-read-input-bg: #dddddd80;
  --ts-white: #ffffff;
  --bs-primary: #5d87ff;
  --primary-bg: #ebebeb;
  --bs-border-color: #ebf1f6;
  --bs-yellow-bg: #ffdf40;
  --bs-body-bg: #fafafa;
  --bs-btn-bg: #1a79ff;
  --bs-white-color: #fff;
  --bs-text-color: #262626;
  --bs-layout-padding: 0px 10% 0% 10%;
  --bs-side-padding: 0px 10px;
  --bs-font-size14: 14px;
  --bs-font-family: "Roboto", sans-serif;
  --bs-link-font-color: #cce3ff;
  --bs-font-weight400: 400;
  --bs-font-weight500: 500;
  --bs-navbar-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
  --bs-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
  --Zero-border: 1px solid #e5e7eb;
  --tb-fillter-primary-border: 2px solid #3498db;
  --tb-fillter-primary-focus-border-color: #2980b9;
  --tb-fillter-primary-focus-box-shadow: 0 0 1px #2980b9;
  --mui-table-container-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mui-border: 2px solid rgba(224, 224, 224, 1);
}

/* Reusable class for focus styles */
.primaryInput {
  color: #262626;
  background-color: #ededed;
  border: 1px solid #ededed;
  outline: none;
  width: 100%;

  border-radius: 0.2em;
  border: 1px solid lightgray;
}

.error_Msg {
  color: red;
  font-size: 12px;
  margin: 5px 0px;
}
