/* ImageUploadModel.module.css */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.open {
  display: block;
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  border: 1px solid red;
}

.inner_container {
  display: flex;
}

.uplaod_imageSide {
  border: 1px solid gray;
}

.image_upoaldBtnPart {
  margin-bottom: 20px;
}

.imagePriew_container {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.image_inputSide {
  border: 1px solid gray;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.imagePreview img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

/*  */

.imagePreviews {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
}

.imagePreview {
  text-align: center;
  border: 1px solid green;
}

.model_footer {
  display: flex;
  border: 1px solid red;
  margin: 10px 0px;
  justify-content: end;
  padding: 10px;
}
